@{
    ViewData["Title"] = "Home Page";
    var currentU = ViewData["user"];
}
@if(currentU != null)
{
    <h3>Current User: @currentU</h3>
}
else
{
    <h3>No User Logged In</h3>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/home/login"><button>Log In</button></a> <a href="/home/logout"><button>Log Out</button></a>
</div>
